.venv/
venv/
ENV/
env/
.env

**/__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.coverage
htmlcov/

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

data/raw/

data/raw/
data/processed/
models/

data/raw/
data/processed/
models/
plots/